{% load static%}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style>
        body{
            font-size: 10px;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <table class="table table-bordered table-striped table-hover ">
        <thead class="table-dark">
        <tr style="font-size: 10px">
            <th scope="col">#</th>
            <th scope="col">名称</th>
            <th scope="col">代码</th>
            <th scope="col">2020收益率%</th>
            <th scope="col">2019收益率%</th>
            <th scope="col">2018收益率%</th>
            <th scope="col">2017收益率%</th>
            <th scope="col">2016收益率%</th>
            <th scope="col">平均收益率%</th>
            <th scope="col">费率%</th>
            <th scope="col">费率%</th>
            <th scope="col">费率%</th>
            <th scope="col">费率%</th>
            <th scope="col">总费率%</th>
            <th scope="col">股票比率%</th>
            <th scope="col">债券比率%</th>
            <th scope="col">其他比率%</th>
            <th scope="col">日期</th>
        </tr>
        </thead>
        <tbody>
        {%for i in bond%}
        <tr>
            <th scope="row">{{i.id}}</th>
            <td>{{i.name}}</td>
            <td>{{i.code}}</td>
            <td>{{i.fund_ratio2020}}</td>
            <td>{{i.fund_ratio2019}}</td>
            <td>{{i.fund_ratio2018}}</td>
            <td>{{i.fund_ratio2017}}</td>
            <td>{{i.fund_ratio2016}}</td>
            <td>{{i.fund_ratio_avg}}</td>
            <td>{{i.fund_rate1}}</td>
            <td>{{i.fund_rate2}}</td>
            <td>{{i.fund_rate3}}</td>
            <td>{{i.fund_rate4}}</td>
            <td>{{i.fund_rate_sum}}</td>
            <td>{{i.fund_position_shares}}</td>
            <td>{{i.fund_position_bond}}</td>
            <td>{{i.fund_position_other}}</td>
            <td>{{i.date}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>